In [79]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

movies = pd.read_csv('final_dataset.csv')
movies

,id,title,year,duration,MPA,rating,votes,meta_score,description,Movie_Link,...,opening_weekend_gross,gross_worldwide,gross_us_canada,release_date,countries_origin,filming_locations,production_companies,awards_content,genres,languages
0,tt0073195,Jaws,1975,2h 4m,PG,8.1,690K,87.0,When a massive killer shark unleashes chaos on...,https://www.imdb.com/title/tt0073195,...,"$7,061,513","$477,916,625","$267,263,625",1975.0,['United States'],"[""Water Street, Edgartown, Martha's Vineyard, ...","['Zanuck/Brown Productions', 'Universal Pictur...","Won 3 Oscars, 16 wins & 20 nominations total","['Monster Horror', 'Sea Adventure', 'Survival'...",['English']
1,tt0073629,The Rocky Horror Picture Show,1975,1h 40m,R,7.4,174K,65.0,A newly-engaged couple have a breakdown in an ...,https://www.imdb.com/title/tt0073629,...,NaN,"$115,827,018","$112,892,319",1975.0,"['United Kingdom', 'United States']","[""Oakley Court, Windsor Road, Oakley Green, Wi...","['Twentieth Century Fox', 'Michael White Produ...","Awards, 3 wins & 4 nominations total","['B-Horror', 'Dark Comedy', 'Parody', 'Raunchy...",['English']
2,tt0073486,One Flew Over the Cuckoo's Nest,1975,2h 13m,R,8.7,1.1M,84.0,"In the Fall of 1963, a Korean War veteran and ...",https://www.imdb.com/title/tt0073486,...,NaN,"$109,115,366","$108,981,275",1975.0,['United States'],['Oregon State Mental Hospital - 2600 Center S...,"['Fantasy Films', 'N.V. Zvaluw']","Won 5 Oscars, 38 wins & 15 nominations total","['Medical Drama', 'Psychological Drama', 'Drama']",['English']
3,tt0072890,Dog Day Afternoon,1975,2h 5m,R,8.0,281K,86.0,Three amateur robbers plan to hold up a Brookl...,https://www.imdb.com/title/tt0072890,...,NaN,"$50,004,527","$50,000,000",1975.0,['United States'],"['285 Prospect Park West, Brooklyn, New York C...","['Warner Bros.', 'Artists Entertainment Complex']","Won 1 Oscar, 14 wins & 20 nominations total","['Dark Comedy', 'Heist', 'True Crime', 'Biogra...",['English']
4,tt0073692,Shampoo,1975,1h 50m,R,6.4,15K,65.0,"On Election Day, 1968, irresponsible hairdress...",https://www.imdb.com/title/tt0073692,...,NaN,"$49,407,734","$49,407,734",1975.0,['United States'],"[""2270 Bowmont Drive, Beverly Hills, Californi...","['Persky-Bright / Vista', 'Columbia Pictures',...","Won 1 Oscar, 3 wins & 11 nominations total","['Satire', 'Comedy', 'Drama']",['English']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63244,tt0094976,Death by Dialogue,1988,1h 29m,R,3.2,402,NaN,A guy and four of his friends visit his crippl...,https://www.imdb.com/title/tt0094976,...,NaN,NaN,NaN,1988.0,['United States'],"['Los Angeles, California, USA']",['City Lights Entertainment Group'],NaN,"['Slasher Horror', 'Horror']",['English']
63245,tt0094912,The Courier,1988,1h 25m,R,5.4,143,NaN,When a courier at the D-Day Courier Service mi...,https://www.imdb.com/title/tt0094912,...,NaN,NaN,NaN,1988.0,"['United Kingdom', 'Ireland']","['Ardmore Studios, Herbert Road, Bray, County ...",['Bord Scannán na hÉireann / The Irish Film Bo...,NaN,"['Action', 'Crime', 'Thriller']","['Irish Gaelic', 'English']"
63246,tt0093117,Tadpole and the Whale,1988,1h 31m,TV-G,6.2,454,NaN,"On their arrival in Mingan, on the north coast...",https://www.imdb.com/title/tt0093117,...,NaN,NaN,NaN,1988.0,['Canada'],"[""Île Nue, La réserve de parc national de l'Ar...","['Les Productions La Fête Inc.', 'Téléfilm Can...","Awards, 1 win & 6 nominations total","['Adventure', 'Comedy', 'Drama', 'Family']","['French', 'English']"
63247,tt0099235,The Cellar,1988,1h 25m,PG-13,4.6,1.1K,NaN,A family moves into an old house in the Texas ...,https://www.imdb.com/title/tt0099235,...,NaN,NaN,NaN,1988.0,['United States'],"['Tucson, Arizona, USA']",['Indian Neck Entertainment'],NaN,"['Monster Horror', 'Supernatural Horror', 'Hor...",['English']
63248,tt0155726,Grandi cacciatori,1988,1h 38m,NaN,5.9,90,NaN,"After a man's wife is killed by a panther, his...",https://www.imdb.com/title/tt0155726,...,NaN,NaN,NaN,1988.0,['Italy'],"['Alaska, USA']",NaN,NaN,['Adventure'],['Italian']

In [80]:
movies.columns

Index(['id', 'title', 'year', 'duration', 'MPA', 'rating', 'votes',
       'meta_score', 'description', 'Movie_Link', 'writers', 'directors',
       'stars', 'budget', 'opening_weekend_gross', 'gross_worldwide',
       'gross_us_canada', 'release_date', 'countries_origin',
       'filming_locations', 'production_companies', 'awards_content', 'genres',
       'languages'],
      dtype='object')

In [81]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63249 entries, 0 to 63248
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     63249 non-null  object
 1   title                  63249 non-null  object
 2   year                   63249 non-null  int64
 3   duration               61174 non-null  object
 4   MPA                    41227 non-null  object
 5   rating                 59181 non-null  float64
 6   votes                  59181 non-null  object
 7   meta_score             15533 non-null  float64
 8   description            60889 non-null  object
 9   Movie_Link             63249 non-null  object
 10  writers                62980 non-null  object
 11  directors              63198 non-null  object
 12  stars                  62905 non-null  object
 13  budget                 15359 non-null  object
 14  opening_weekend_gross  16837 non-null  object
 15  gross_worldwide        20722 non-null  object
 16  gross_us_canada        19544 non-null  object
 17  release_date           54849 non-null  float64
 18  countries_origin       63150 non-null  object
 19  filming_locations      46395 non-null  object
 20  production_companies   61276 non-null  object
 21  awards_content         27068 non-null  object
 22  genres                 62462 non-null  object
 23  languages              62919 non-null  object
dtypes: float64(3), int64(1), object(20)
memory usage: 11.6+ MB

In [82]:
movies.isnull().sum()

id                           0
title                        0
year                         0
duration                  2075
MPA                      22022
rating                    4068
votes                     4068
meta_score               47716
description               2360
Movie_Link                   0
writers                    269
directors                   51
stars                      344
budget                   47890
opening_weekend_gross    46412
gross_worldwide          42527
gross_us_canada          43705
release_date              8400
countries_origin            99
filming_locations        16854
production_companies      1973
awards_content           36181
genres                     787
languages                  330
dtype: int64

In [83]:
movies_latest = movies[movies['year'] >= 1980].reset_index()
movies_latest

,index,id,title,year,duration,MPA,rating,votes,meta_score,description,...,opening_weekend_gross,gross_worldwide,gross_us_canada,release_date,countries_origin,filming_locations,production_companies,awards_content,genres,languages
0,1800,tt0083866,E.T. the Extra-Terrestrial,1982,1h 55m,PG,7.9,452K,92.0,A troubled child summons the courage to help a...,...,"$11,835,389","$797,307,407","$439,454,989",1982.0,['United States'],"[""7121 Lonzo Street, Tujunga, Los Angeles, Cal...","['Universal Pictures', 'Amblin Entertainment']","Won 4 Oscars, 52 wins & 38 nominations total","['Coming-of-Age', 'Space Sci-Fi', 'Adventure',...",['English']
1,1801,tt0084805,Tootsie,1982,1h 56m,PG,7.4,118K,88.0,"Michael Dorsey, an unsuccessful actor, disguis...",...,"$5,540,470","$177,200,285","$177,200,000",1982.0,['United States'],"['Hurley Mountain Inn, Hurley, New York, USA (...","['Columbia Pictures', 'Mirage Enterprises', 'P...","Won 1 Oscar, 26 wins & 31 nominations total","['Farce', 'High-Concept Comedy', 'Romantic Com...",['English']
2,1802,tt0084434,An Officer and a Gentleman,1982,2h 4m,R,7.1,65K,75.0,A young man must complete his work at a Navy O...,...,"$3,304,679","$129,795,890","$129,795,554",1982.0,['United States'],"['Fort Worden State Park - 200 Battery Way E, ...","['Lorimar Film Entertainment', 'Paramount Pict...","Won 2 Oscars, 9 wins & 15 nominations total","['Feel-Good Romance', 'Drama', 'Romance']","['English', 'Filipino']"
3,1803,tt0084602,Rocky III,1982,1h 39m,PG,6.8,219K,57.0,Rocky faces the ultimate challenge from a powe...,...,"$12,431,486","$125,052,898","$125,049,125",1982.0,['United States'],"['Santa Monica Beach, Santa Monica, California...","['Chartoff-Winkler Productions', 'United Artis...","Nominated for 1 Oscar, 3 wins & 9 nominations ...","['Boxing', 'Drama', 'Sport']",['English']
4,1804,tt0084726,Star Trek II: The Wrath of Khan,1982,1h 53m,PG,7.7,132K,68.0,"With the assistance of the Enterprise crew, Ad...",...,"$14,347,221","$79,822,604","$79,707,906",1982.0,['United States'],"['Golden Gate Park, San Francisco, California,...",['Paramount Pictures'],"Awards, 4 wins & 9 nominations total","['Space Sci-Fi', 'Action', 'Adventure', 'Sci-Fi']",['English']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27546,63244,tt0094976,Death by Dialogue,1988,1h 29m,R,3.2,402,NaN,A guy and four of his friends visit his crippl...,...,NaN,NaN,NaN,1988.0,['United States'],"['Los Angeles, California, USA']",['City Lights Entertainment Group'],NaN,"['Slasher Horror', 'Horror']",['English']
27547,63245,tt0094912,The Courier,1988,1h 25m,R,5.4,143,NaN,When a courier at the D-Day Courier Service mi...,...,NaN,NaN,NaN,1988.0,"['United Kingdom', 'Ireland']","['Ardmore Studios, Herbert Road, Bray, County ...",['Bord Scannán na hÉireann / The Irish Film Bo...,NaN,"['Action', 'Crime', 'Thriller']","['Irish Gaelic', 'English']"
27548,63246,tt0093117,Tadpole and the Whale,1988,1h 31m,TV-G,6.2,454,NaN,"On their arrival in Mingan, on the north coast...",...,NaN,NaN,NaN,1988.0,['Canada'],"[""Île Nue, La réserve de parc national de l'Ar...","['Les Productions La Fête Inc.', 'Téléfilm Can...","Awards, 1 win & 6 nominations total","['Adventure', 'Comedy', 'Drama', 'Family']","['French', 'English']"
27549,63247,tt0099235,The Cellar,1988,1h 25m,PG-13,4.6,1.1K,NaN,A family moves into an old house in the Texas ...,...,NaN,NaN,NaN,1988.0,['United States'],"['Tucson, Arizona, USA']",['Indian Neck Entertainment'],NaN,"['Monster Horror', 'Supernatural Horror', 'Hor...",['English']
27550,63248,tt0155726,Grandi cacciatori,1988,1h 38m,NaN,5.9,90,NaN,"After a man's wife is killed by a panther, his...",...,NaN,NaN,NaN,1988.0,['Italy'],"['Alaska, USA']",NaN,NaN,['Adventure'],['Italian']

In [84]:
#Simplifying genres column
movies_latest['genres'].astype(str)
movies_latest['genres'] = movies_latest['genres'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.replace("'", '', regex=False)
movies_latest['genres']

0        Coming-of-Age, Space Sci-Fi, Adventure, Family...
1        Farce, High-Concept Comedy, Romantic Comedy, C...
2                        Feel-Good Romance, Drama, Romance
3                                     Boxing, Drama, Sport
4                  Space Sci-Fi, Action, Adventure, Sci-Fi
                               ...
27546                               Slasher Horror, Horror
27547                              Action, Crime, Thriller
27548                     Adventure, Comedy, Drama, Family
27549          Monster Horror, Supernatural Horror, Horror
27550                                            Adventure
Name: genres, Length: 27551, dtype: object

In [85]:
#Simplifying production companies column
movies_latest['production_companies'].astype(str)
movies_latest['production_companies'] = movies_latest['production_companies'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.replace("'", '', regex=False)
movies_latest['production_companies']

0                 Universal Pictures, Amblin Entertainment
1        Columbia Pictures, Mirage Enterprises, Punch P...
2           Lorimar Film Entertainment, Paramount Pictures
3             Chartoff-Winkler Productions, United Artists
4                                       Paramount Pictures
                               ...
27546                      City Lights Entertainment Group
27547    Bord Scannán na hÉireann / The Irish Film Boar...
27548    Les Productions La Fête Inc., Téléfilm Canada,...
27549                            Indian Neck Entertainment
27550                                                  NaN
Name: production_companies, Length: 27551, dtype: object

In [86]:
#Simplifying language column
movies_latest['languages'].astype(str)
movies_latest['languages'] = movies_latest['languages'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.replace("'", '', regex=False)
movies_latest['languages']

0                      English
1                      English
2            English, Filipino
3                      English
4                      English
                 ...
27546                  English
27547    Irish Gaelic, English
27548          French, English
27549                  English
27550                  Italian
Name: languages, Length: 27551, dtype: object

In [87]:
#Simplifying countries of origin
movies_latest['countries_origin'].astype(str)
movies_latest['countries_origin'] = movies_latest['countries_origin'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.replace("'", '', regex=False)
movies_latest['countries_origin']

0                  United States
1                  United States
2                  United States
3                  United States
4                  United States
                  ...
27546              United States
27547    United Kingdom, Ireland
27548                     Canada
27549              United States
27550                      Italy
Name: countries_origin, Length: 27551, dtype: object

In [88]:
#Simplifying writers column
movies_latest['writers'].astype(str)
movies_latest['writers'] = movies_latest['writers'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.replace("'", '', regex=False)
movies_latest['writers']

0                                         Melissa Mathison
1              Don McGuire, Larry Gelbart, Murray Schisgal
2                                      Douglas Day Stewart
3                                       Sylvester Stallone
4         Gene Roddenberry, Jack B. Sowards, Harve Bennett
                               ...
27546                          Thomas Dewier, Susan Trabue
27547                                          Frank Deasy
27548         Jean-Claude Lord, Lise Thouin, Jacques Bobet
27549    David Henry Keller, John Woodward, Darryl Wimb...
27550                    Augusto Caminito, Antonino Marino
Name: writers, Length: 27551, dtype: object

In [89]:
#Simplifying stars column
movies_latest['stars'].astype(str)
movies_latest['stars'] = movies_latest['stars'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.replace("'", '', regex=False)
movies_latest['stars']

0        Henry Thomas, Drew Barrymore, Peter Coyote, De...
1        Dustin Hoffman, Jessica Lange, Teri Garr, Dabn...
2        Richard Gere, Debra Winger, David Keith, Rober...
3        Sylvester Stallone, Talia Shire, Burt Young, C...
4        William Shatner, Leonard Nimoy, DeForest Kelle...
                               ...
27546    Ken Sagoes, Laura Albert, Lenny Delducca, Kell...
27547    "Padraig OLoinsigh", "Cait ORiordan", Gabriel ...
27548    Fanny Lauzier, Denis Forest, Marina Orsini, Fé...
27549    Patrick Kilpatrick, Chris Miller, Suzanne Savo...
27550    Klaus Kinski, Harvey Keitel, Yorgo Voyagis, Ro...
Name: stars, Length: 27551, dtype: object

In [90]:
#Simplifying directors column
movies_latest['directors'].astype(str)
movies_latest['directors'] = movies_latest['directors'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.replace("'", '', regex=False)
movies_latest['directors']

0            Steven Spielberg
1              Sydney Pollack
2             Taylor Hackford
3          Sylvester Stallone
4              Nicholas Meyer
                 ...
27546           Thomas Dewier
27547    Frank Deasy, Joe Lee
27548        Jean-Claude Lord
27549            Kevin Tenney
27550        Augusto Caminito
Name: directors, Length: 27551, dtype: object

In [91]:
movies_latest['MPA'] = movies_latest['MPA'].fillna('Unrated')
movies_latest['MPA']

0             PG
1             PG
2              R
3             PG
4             PG
          ...
27546          R
27547          R
27548       TV-G
27549      PG-13
27550    Unrated
Name: MPA, Length: 27551, dtype: object

In [92]:
all_genres = movies_latest['genres'].str.split(',').explode()
genre_counts = all_genres.str.strip().value_counts().sort_values(ascending=False).reset_index()

genre_counts = pd.DataFrame(genre_counts)
print(genre_counts['genres'].unique())

['Drama' 'Comedy' 'Thriller' 'Romance' 'Action' 'Crime' 'Horror'
 'Adventure' 'Documentary' 'Mystery' 'Fantasy' 'Sci-Fi' 'Family'
 'Biography' 'Dark Comedy' 'History' 'Music' 'Animation' 'War' 'Sport'
 'Period Drama' 'Satire' 'Musical' 'Slasher Horror' 'Slapstick'
 'Romantic Comedy' 'Parody' 'Psychological Thriller' 'Supernatural Horror'
 'Tragedy' 'Coming-of-Age' 'Psychological Drama' 'Anime' 'Superhero'
 'Docudrama' 'True Crime' 'Computer Animation' 'Western' 'Buddy Comedy'
 'Martial Arts' 'Animal Adventure' 'One-Person Army Action' 'Teen Comedy'
 'Dark Fantasy' 'Teen Horror' 'Erotic Thriller' 'Adult Animation'
 'Teen Drama' 'Space Sci-Fi' 'Psychological Horror' 'Quest' 'Epic'
 'Supernatural Fantasy' 'Action Epic' 'Feel-Good Romance' 'Road Trip'
 'Body Horror' 'Raunchy Comedy' 'Suspense Mystery' 'Quirky Comedy'
 'Hand-Drawn Animation' 'Dystopian Sci-Fi' 'B-Horror' 'Survival'
 'High-Concept Comedy' 'Whodunnit' 'Steamy Romance' 'Farce'
 'Adventure Epic' 'Alien Invasion' 'Spy' 'Teen Romance'
 'Political Thriller' 'Urban Adventure' 'Serial Killer' 'Monster Horror'
 'Caper' 'Zombie Horror' 'Conspiracy Thriller' 'Holiday' 'Political Drama'
 'Splatter Horror' 'Gangster' 'Costume Drama' 'Tragic Romance'
 'Jungle Adventure' 'Sword & Sorcery' 'Sci-Fi Epic' 'Fantasy Epic'
 'Fairy Tale' 'Cyberpunk' 'Vampire Horror' 'Dark Romance' 'Gun Fu'
 'Time Travel' 'Showbiz Drama' 'Workplace Drama' 'Teen Adventure'
 'Found Footage Horror' 'Artificial Intelligence' 'Buddy Cop' 'Disaster'
 'Globetrotting Adventure' 'War Epic' 'News' 'Holiday Comedy'
 'Swashbuckler' 'Heist' 'Legal Drama' 'B-Action' 'Folk Horror'
 'Desert Adventure' 'Teen Fantasy' 'Pop Musical' 'Cop Drama'
 'Sea Adventure' 'Basketball' 'Kaiju' 'Police Procedural' 'Prison Drama'
 'Dinosaur Adventure' 'Legal Thriller' 'Cyber Thriller'
 'Music Documentary' 'Contemporary Western' 'Sports Documentary' 'Boxing'
 'Car Action' 'Drug Crime' 'Stop Motion Animation' 'Historical Epic'
 'Kung Fu' 'Football' 'Stoner Comedy' 'Wuxia' 'Mountain Adventure'
 'Steampunk' 'Baseball' 'Romantic Epic' 'Werewolf Horror' 'Sword & Sandal'
 'Faith & Spirituality Documentary' 'Screwball Comedy' 'Concert'
 'Holiday Family' 'Extreme Sport' 'Crime Documentary' 'Stand-Up'
 'Jukebox Musical' 'Body Swap Comedy' 'Nature Documentary'
 'Holiday Romance' 'Political Documentary' 'Medical Drama' 'Motorsport'
 'Witch Horror' 'Water Sport' 'Military Documentary' 'Mecha'
 'Science & Technology Documentary' 'Financial Drama' 'Mockumentary'
 'Shōnen' 'Food Documentary' 'Bumbling Detective' 'Samurai' 'Giallo'
 'Soccer' 'History Documentary' 'Western Epic' 'Rock Musical'
 'Sketch Comedy' 'Cozy Mystery' 'Seinen' 'Hard-boiled Detective' 'Shōjo'
 'Slice of Life' 'Travel Documentary' 'Isekai' 'Iyashikei'
 'Spaghetti Western' 'Holiday Animation' 'Korean Drama' 'Sitcom'
 'Classic Musical' 'Josei' 'Reality TV' 'Talk Show' 'Game Show'
 'Classical Western']

In [93]:
genre_counts

                genres  count
0                Drama  15184
1               Comedy   9026
2             Thriller   6310
3              Romance   5592
4               Action   5005
..                 ...    ...
185              Josei      1
186         Reality TV      1
187          Talk Show      1
188          Game Show      1
189  Classical Western      1

[190 rows x 2 columns]

In [94]:
movies_missing = movies_latest[~(movies_latest['description'].isna()) &
                               ~(movies_latest['rating'].isna()) &
                               ~(movies_latest['duration'].isna()) &
                               ~(movies_latest['meta_score'].isna())]

movies_missing = movies_missing.drop(columns=['filming_locations', 'release_date', 'Movie_Link', 'index'])
movies_missing.columns

Index(['id', 'title', 'year', 'duration', 'MPA', 'rating', 'votes',
       'meta_score', 'description', 'writers', 'directors', 'stars', 'budget',
       'opening_weekend_gross', 'gross_worldwide', 'gross_us_canada',
       'countries_origin', 'production_companies', 'awards_content', 'genres',
       'languages'],
      dtype='object')

In [95]:
movies_missing

,id,title,year,duration,MPA,rating,votes,meta_score,description,writers,...,stars,budget,opening_weekend_gross,gross_worldwide,gross_us_canada,countries_origin,production_companies,awards_content,genres,languages
0,tt0083866,E.T. the Extra-Terrestrial,1982,1h 55m,PG,7.9,452K,92.0,A troubled child summons the courage to help a...,Melissa Mathison,...,"Henry Thomas, Drew Barrymore, Peter Coyote, De...","$10,500,000 (estimated)","$11,835,389","$797,307,407","$439,454,989",United States,"Universal Pictures, Amblin Entertainment","Won 4 Oscars, 52 wins & 38 nominations total","Coming-of-Age, Space Sci-Fi, Adventure, Family...",English
1,tt0084805,Tootsie,1982,1h 56m,PG,7.4,118K,88.0,"Michael Dorsey, an unsuccessful actor, disguis...","Don McGuire, Larry Gelbart, Murray Schisgal",...,"Dustin Hoffman, Jessica Lange, Teri Garr, Dabn...","$21,000,000 (estimated)","$5,540,470","$177,200,285","$177,200,000",United States,"Columbia Pictures, Mirage Enterprises, Punch P...","Won 1 Oscar, 26 wins & 31 nominations total","Farce, High-Concept Comedy, Romantic Comedy, C...",English
2,tt0084434,An Officer and a Gentleman,1982,2h 4m,R,7.1,65K,75.0,A young man must complete his work at a Navy O...,Douglas Day Stewart,...,"Richard Gere, Debra Winger, David Keith, Rober...","$7,500,000 (estimated)","$3,304,679","$129,795,890","$129,795,554",United States,"Lorimar Film Entertainment, Paramount Pictures","Won 2 Oscars, 9 wins & 15 nominations total","Feel-Good Romance, Drama, Romance","English, Filipino"
3,tt0084602,Rocky III,1982,1h 39m,PG,6.8,219K,57.0,Rocky faces the ultimate challenge from a powe...,Sylvester Stallone,...,"Sylvester Stallone, Talia Shire, Burt Young, C...","$17,000,000 (estimated)","$12,431,486","$125,052,898","$125,049,125",United States,"Chartoff-Winkler Productions, United Artists","Nominated for 1 Oscar, 3 wins & 9 nominations ...","Boxing, Drama, Sport",English
4,tt0084726,Star Trek II: The Wrath of Khan,1982,1h 53m,PG,7.7,132K,68.0,"With the assistance of the Enterprise crew, Ad...","Gene Roddenberry, Jack B. Sowards, Harve Bennett",...,"William Shatner, Leonard Nimoy, DeForest Kelle...","$11,200,000 (estimated)","$14,347,221","$79,822,604","$79,707,906",United States,Paramount Pictures,"Awards, 4 wins & 9 nominations total","Space Sci-Fi, Action, Adventure, Sci-Fi",English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27218,tt0093593,On the Silver Globe,1988,2h 46m,Unrated,7.2,5.3K,72.0,A team of astronauts land on an inhabitable pl...,"Andrzej Zulawski, Jerzy Zulawski",...,"Andrzej Seweryn, Jerzy Trela, Grazyna Dylag, W...",NaN,NaN,$557,NaN,Poland,"Zespol Filmowy ""Kadr""","Awards, 1 nomination total","Space Sci-Fi, Adventure, Drama, Fantasy, Sci-Fi",Polish
27220,tt0095444,Killer Klowns from Outer Space,1988,1h 28m,PG-13,6.2,49K,43.0,Aliens who look like clowns come from outer sp...,"Charles Chiodo, Stephen Chiodo, Edward Chiodo",...,"Grant Cramer, Suzanne Snyder, John Allen Nelso...","$2,000,000 (estimated)",NaN,"$1,412",NaN,United States,"Sarlui / Diamant, Chiodo Brothers Productions","Awards, 2 nominations total","Alien Invasion, B-Horror, Dark Comedy, Monster...",English
27227,tt0094793,Brain Damage,1988,1h 24m,R,6.5,14K,61.0,"One morning, a young man wakes to find that a ...",Frank Henenlotter,...,"Rick Hearst, Gordon MacDonald, Jennifer Lowry,...","$900,000 (estimated)",NaN,NaN,NaN,United States,Palisades Partners,"Awards, 1 nomination total","Body Horror, Dark Comedy, Comedy, Horror",English
27252,tt0095403,Police Story 2,1988,1h 41m,PG-13,7.1,24K,68.0,The Hong Kong supercop must stop a group of bl...,"Jackie Chan, Paul B. Clay, Edward Tang",...,"Jackie Chan, Maggie Cheung, Kwok-Hung Lam, Bil...",NaN,NaN,NaN,NaN,Hong Kong,"Golden Harvest Company, Golden Way Films Ltd.,...","Awards, 2 wins & 1 nomination total","Dark Comedy, Martial Arts, Slapstick, Action, ...",Cantonese
27416,tt0096218,Tales from the Gimli Hospital,1988,1h 12m,Unrated,6.6,1.5K,71.0,While their mother is dying in the modern Giml...,Guy Maddin,...,"Kyle McCulloch, Michael Gottli, Angela Heck, M...","$25,000 (estimated)",NaN,NaN,NaN,Canada,"Extra Large Productions, The Canada Manitoba C...","Awards, 1 nomination total","Dark Comedy, Comedy, Drama, Fantasy, Horror, T...","Icelandic, English"

In [96]:
movies_missing['words_in_description'] = movies_missing['description'].str.split().str.len() 
movies_missing

,id,title,year,duration,MPA,rating,votes,meta_score,description,writers,...,budget,opening_weekend_gross,gross_worldwide,gross_us_canada,countries_origin,production_companies,awards_content,genres,languages,words_in_description
0,tt0083866,E.T. the Extra-Terrestrial,1982,1h 55m,PG,7.9,452K,92.0,A troubled child summons the courage to help a...,Melissa Mathison,...,"$10,500,000 (estimated)","$11,835,389","$797,307,407","$439,454,989",United States,"Universal Pictures, Amblin Entertainment","Won 4 Oscars, 52 wins & 38 nominations total","Coming-of-Age, Space Sci-Fi, Adventure, Family...",English,20
1,tt0084805,Tootsie,1982,1h 56m,PG,7.4,118K,88.0,"Michael Dorsey, an unsuccessful actor, disguis...","Don McGuire, Larry Gelbart, Murray Schisgal",...,"$21,000,000 (estimated)","$5,540,470","$177,200,285","$177,200,000",United States,"Columbia Pictures, Mirage Enterprises, Punch P...","Won 1 Oscar, 26 wins & 31 nominations total","Farce, High-Concept Comedy, Romantic Comedy, C...",English,21
2,tt0084434,An Officer and a Gentleman,1982,2h 4m,R,7.1,65K,75.0,A young man must complete his work at a Navy O...,Douglas Day Stewart,...,"$7,500,000 (estimated)","$3,304,679","$129,795,890","$129,795,554",United States,"Lorimar Film Entertainment, Paramount Pictures","Won 2 Oscars, 9 wins & 15 nominations total","Feel-Good Romance, Drama, Romance","English, Filipino",29
3,tt0084602,Rocky III,1982,1h 39m,PG,6.8,219K,57.0,Rocky faces the ultimate challenge from a powe...,Sylvester Stallone,...,"$17,000,000 (estimated)","$12,431,486","$125,052,898","$125,049,125",United States,"Chartoff-Winkler Productions, United Artists","Nominated for 1 Oscar, 3 wins & 9 nominations ...","Boxing, Drama, Sport",English,27
4,tt0084726,Star Trek II: The Wrath of Khan,1982,1h 53m,PG,7.7,132K,68.0,"With the assistance of the Enterprise crew, Ad...","Gene Roddenberry, Jack B. Sowards, Harve Bennett",...,"$11,200,000 (estimated)","$14,347,221","$79,822,604","$79,707,906",United States,Paramount Pictures,"Awards, 4 wins & 9 nominations total","Space Sci-Fi, Action, Adventure, Sci-Fi",English,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27218,tt0093593,On the Silver Globe,1988,2h 46m,Unrated,7.2,5.3K,72.0,A team of astronauts land on an inhabitable pl...,"Andrzej Zulawski, Jerzy Zulawski",...,NaN,NaN,$557,NaN,Poland,"Zespol Filmowy ""Kadr""","Awards, 1 nomination total","Space Sci-Fi, Adventure, Drama, Fantasy, Sci-Fi",Polish,28
27220,tt0095444,Killer Klowns from Outer Space,1988,1h 28m,PG-13,6.2,49K,43.0,Aliens who look like clowns come from outer sp...,"Charles Chiodo, Stephen Chiodo, Edward Chiodo",...,"$2,000,000 (estimated)",NaN,"$1,412",NaN,United States,"Sarlui / Diamant, Chiodo Brothers Productions","Awards, 2 nominations total","Alien Invasion, B-Horror, Dark Comedy, Monster...",English,14
27227,tt0094793,Brain Damage,1988,1h 24m,R,6.5,14K,61.0,"One morning, a young man wakes to find that a ...",Frank Henenlotter,...,"$900,000 (estimated)",NaN,NaN,NaN,United States,Palisades Partners,"Awards, 1 nomination total","Body Horror, Dark Comedy, Comedy, Horror",English,38
27252,tt0095403,Police Story 2,1988,1h 41m,PG-13,7.1,24K,68.0,The Hong Kong supercop must stop a group of bl...,"Jackie Chan, Paul B. Clay, Edward Tang",...,NaN,NaN,NaN,NaN,Hong Kong,"Golden Harvest Company, Golden Way Films Ltd.,...","Awards, 2 wins & 1 nomination total","Dark Comedy, Martial Arts, Slapstick, Action, ...",Cantonese,22
27416,tt0096218,Tales from the Gimli Hospital,1988,1h 12m,Unrated,6.6,1.5K,71.0,While their mother is dying in the modern Giml...,Guy Maddin,...,"$25,000 (estimated)",NaN,NaN,NaN,Canada,"Extra Large Productions, The Canada Manitoba C...","Awards, 1 nomination total","Dark Comedy, Comedy, Drama, Fantasy, Horror, T...","Icelandic, English",38

In [97]:
movies_missing['words_in_description'].describe()

count    14057.000000
mean        29.583695
std         20.526677
min          5.000000
25%         20.000000
50%         26.000000
75%         34.000000
max        480.000000
Name: words_in_description, dtype: float64

In [98]:
movies_missing['tagged_description'] = movies_missing[['id', 'description']].astype(str).agg(' '.join, axis=1)
movies_missing

,id,title,year,duration,MPA,rating,votes,meta_score,description,writers,...,opening_weekend_gross,gross_worldwide,gross_us_canada,countries_origin,production_companies,awards_content,genres,languages,words_in_description,tagged_description
0,tt0083866,E.T. the Extra-Terrestrial,1982,1h 55m,PG,7.9,452K,92.0,A troubled child summons the courage to help a...,Melissa Mathison,...,"$11,835,389","$797,307,407","$439,454,989",United States,"Universal Pictures, Amblin Entertainment","Won 4 Oscars, 52 wins & 38 nominations total","Coming-of-Age, Space Sci-Fi, Adventure, Family...",English,20,tt0083866 A troubled child summons the courage...
1,tt0084805,Tootsie,1982,1h 56m,PG,7.4,118K,88.0,"Michael Dorsey, an unsuccessful actor, disguis...","Don McGuire, Larry Gelbart, Murray Schisgal",...,"$5,540,470","$177,200,285","$177,200,000",United States,"Columbia Pictures, Mirage Enterprises, Punch P...","Won 1 Oscar, 26 wins & 31 nominations total","Farce, High-Concept Comedy, Romantic Comedy, C...",English,21,"tt0084805 Michael Dorsey, an unsuccessful acto..."
2,tt0084434,An Officer and a Gentleman,1982,2h 4m,R,7.1,65K,75.0,A young man must complete his work at a Navy O...,Douglas Day Stewart,...,"$3,304,679","$129,795,890","$129,795,554",United States,"Lorimar Film Entertainment, Paramount Pictures","Won 2 Oscars, 9 wins & 15 nominations total","Feel-Good Romance, Drama, Romance","English, Filipino",29,tt0084434 A young man must complete his work a...
3,tt0084602,Rocky III,1982,1h 39m,PG,6.8,219K,57.0,Rocky faces the ultimate challenge from a powe...,Sylvester Stallone,...,"$12,431,486","$125,052,898","$125,049,125",United States,"Chartoff-Winkler Productions, United Artists","Nominated for 1 Oscar, 3 wins & 9 nominations ...","Boxing, Drama, Sport",English,27,tt0084602 Rocky faces the ultimate challenge f...
4,tt0084726,Star Trek II: The Wrath of Khan,1982,1h 53m,PG,7.7,132K,68.0,"With the assistance of the Enterprise crew, Ad...","Gene Roddenberry, Jack B. Sowards, Harve Bennett",...,"$14,347,221","$79,822,604","$79,707,906",United States,Paramount Pictures,"Awards, 4 wins & 9 nominations total","Space Sci-Fi, Action, Adventure, Sci-Fi",English,27,tt0084726 With the assistance of the Enterpris...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27218,tt0093593,On the Silver Globe,1988,2h 46m,Unrated,7.2,5.3K,72.0,A team of astronauts land on an inhabitable pl...,"Andrzej Zulawski, Jerzy Zulawski",...,NaN,$557,NaN,Poland,"Zespol Filmowy ""Kadr""","Awards, 1 nomination total","Space Sci-Fi, Adventure, Drama, Fantasy, Sci-Fi",Polish,28,tt0093593 A team of astronauts land on an inha...
27220,tt0095444,Killer Klowns from Outer Space,1988,1h 28m,PG-13,6.2,49K,43.0,Aliens who look like clowns come from outer sp...,"Charles Chiodo, Stephen Chiodo, Edward Chiodo",...,NaN,"$1,412",NaN,United States,"Sarlui / Diamant, Chiodo Brothers Productions","Awards, 2 nominations total","Alien Invasion, B-Horror, Dark Comedy, Monster...",English,14,tt0095444 Aliens who look like clowns come fro...
27227,tt0094793,Brain Damage,1988,1h 24m,R,6.5,14K,61.0,"One morning, a young man wakes to find that a ...",Frank Henenlotter,...,NaN,NaN,NaN,United States,Palisades Partners,"Awards, 1 nomination total","Body Horror, Dark Comedy, Comedy, Horror",English,38,"tt0094793 One morning, a young man wakes to fi..."
27252,tt0095403,Police Story 2,1988,1h 41m,PG-13,7.1,24K,68.0,The Hong Kong supercop must stop a group of bl...,"Jackie Chan, Paul B. Clay, Edward Tang",...,NaN,NaN,NaN,Hong Kong,"Golden Harvest Company, Golden Way Films Ltd.,...","Awards, 2 wins & 1 nomination total","Dark Comedy, Martial Arts, Slapstick, Action, ...",Cantonese,22,tt0095403 The Hong Kong supercop must stop a g...
27416,tt0096218,Tales from the Gimli Hospital,1988,1h 12m,Unrated,6.6,1.5K,71.0,While their mother is dying in the modern Giml...,Guy Maddin,...,NaN,NaN,NaN,Canada,"Extra Large Productions, The Canada Manitoba C...","Awards, 1 nomination total","Dark Comedy, Comedy, Drama, Fantasy, Horror, T...","Icelandic, English",38,tt0096218 While their mother is dying in the m...

In [99]:
movies_missing.drop(columns=['words_in_description'], axis=1).to_csv('movies_cleaned.csv', index=False)